
body {
    background-color: #415fe1;
}

#container {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    width: 50%;
    height: 50%;
    text-align: center;
    color: white;
}

div img {
    width: 30%;
    height: 30%;
}